@import '~antd/dist/antd.css';
.service{
	padding-top: 8rem;
	/* height: 100vh; */
	font-size: 3em;
	font-family: 'Montserrat', sans-serif;
	/* font-weight: 600; */
}
.service h2{
	text-align: center;
}
.radio__group{
	margin-bottom: 40px;
	
}
