.main__step {
	width: 100%;
	font-family: 'Jura', sans-serif;
	margin-bottom: 0em;
}

.main__step.active {
	background-image: linear-gradient(345deg, rgba(12, 242, 255, 1) 0%, #495aff 100%);
}

.container {
	width: 90%;
	margin: 0 auto;
}

.step {
	text-align: center;
	padding: 30px 0px 0px 0px;
}

.step__box {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;

}

.step h2 {
	color: rgba(255, 255, 255, 1);
	font-size: 3em;
	font-weight: 500;
	margin-bottom: 1.2em;
}

.box {
	position: relative;
	flex-basis: 13em;
	padding: 1.5em 1em;
	font-size: 1.5em;
	border-radius: 15px;
	color: rgba(255, 255, 255, 1);
	cursor: pointer;
	margin-bottom: 2em;
}

.box p:nth-child(1) {
	margin-bottom: 1em;
}

.box .fa {
	font-size: 2em;
	/* color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to top,#af1be3, #f81b9f); */
}

.box p:nth-child(3) {
	margin-top: 1em;
}

.box.shadow3 {
	box-shadow: inset 4px 4px 5px rgba(255, 255, 255, 0.3),
		inset -4px -4px 5px rgba(0, 0, 0, 0.1),
		10px 40px 40px rgba(0, 0, 0, 0.1);
}

.box.shadow3.active {
	box-shadow: inset 4px 4px 5px rgba(10, 207, 254, 0.3),
		inset -4px -4px 5px rgba(12, 242, 255, 0.1),
		10px 40px 40px rgba(12, 242, 255, 0.1);
	color: rgba(12, 242, 2554, 1);
}

@media screen and (max-width: 575px) {
	.step h2 {
		font-size: 2.5em;
	}

	.box {
		font-size: 1.3em;
	}
}

@media screen and (max-width: 375px) {
	.box {
		flex-basis: 12em;
		font-size: 1.4em;
	}
}
