.main {
	padding-top: 13rem;
	font-family: 'Jura', sans-serif;
	z-index: 0;
}

#fon {
	z-index: 100;
}

.main__title-slider {
	display: flex;
	min-height: 100vh;
	opacity: 1;
}

.scale-up-center {
	-webkit-animation: scale-up-center 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.main section:not(.main__title-slider) {
	margin-bottom: 6em;
}

.main-line {
	width: 50%;
	position: absolute;
	bottom: 25px;
	right: 90px;
	display: flex;
	justify-content: space-around;
}

.line-box {
	display: flex;
	flex-direction: column;
	transition: 0.5s;
}

.line-box .line-span {
	position: relative;
	padding: 15px 25px 15px 30px;
	color: #fff;
	background: #000;
	background-clip: padding-box;
	border: solid 2px transparent;
	border-radius: 25px;
}

.line-box .line-span:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	margin: -3px;
	border-radius: inherit;
	background-image: linear-gradient(to top, #af1be3, #f81b9f);
}

.line-span span {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #0cf2ff;
	background: #000;
	position: absolute;
	top: 2px;
	left: -20px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.discount {
	width: 1.5em;
	filter: invert(1);
}


.fon-box {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to left, rgba(12, 242, 255, 1) 0%, rgba(73, 90, 255, 1) 100%);
	height: 100vh;
	z-index: -1;
}

/* -------------------- */


.arrow-down-box {
	position: absolute;
	bottom: 2em;
	left: 5.7em;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

.arrow-down-box.active {
	display: block;
}

.arrow-down-box h2 {
	/* color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, #af1be3, #f81b9f); */
	color: #0cf2ff;
	font-size: 2.5em;
	margin-bottom: 1em;
	transition: 1s;
}

.arrow-down-box:hover h2 {
	transform: scale(1.1);
}

.arrow-down {
	margin: 30px;
	padding: 0px 0px 0px 80px;
}

.arrow-down span {
	display: block;
	width: 30px;
	height: 30px;
	border-bottom: 4px solid #0cf2ff;
	border-right: 4px solid #0cf2ff;
	transform: rotate(45deg);
	margin: -16px;
	animation: arrow-down 2s infinite;
}

.arrow-down span:nth-child(2) {
	animation-delay: -0.2s;
}

.arrow-down span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes arrow-down {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

/* ------------------- */



.main__title {
	min-width: 50%;
	padding: 10px 10px 10px 0px;
}

.clip-box {
	position: absolute;
	bottom: 0px;
	left: -281px;
	z-index: -1;
}

.clip {
	width: 100%;
	transform: scaleX(-1);
	z-index: -1;
	/* opacity: 1; */
}


.custom-shape {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg) translateZ(-1px);
}

.custom-shape svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 172px;
	transform: rotateY(180deg);
}

.custom-shape .shape-fill {
	fill: #FFFFFF;
}

.main__title h1 {
	font-size: 2.5em;
	z-index: 10;
}

.main__title h1 span {
	display: block;
	margin-bottom: 8px;
	font-weight: 600;
}

.main__title h1 span:nth-child(1) {
	display: inline;
	font-size: 1.8em;
	z-index: 100;
}

.main__title h1 span:nth-child(2) {
	display: inline;
	font-size: 1.8em;
	z-index: 101;
}

.main__title h1 span:nth-child(3) {
	margin-top: 1.3em;
}

.main__title h1 span a:hover {
	color: #fff !important;
}

.order {
	float: right;

}

.cta {
	position: relative;
	margin: 4em auto;
	padding: 19px 22px;
	transition: all 0.2s ease;
}


.cta:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border-radius: 28px;
	background: #af1be3;
	background: -webkit-linear-gradient(to top, rgba(175, 27, 227, 1), #f81b9f);
	background: linear-gradient(to top, rgba(175, 27, 227, 1), #f81b9f);
	width: 56px;
	height: 56px;
	transition: all 0.3s ease;
}

.cta span {
	position: relative;
	font-size: 16px;
	line-height: 18px;
	font-weight: 900;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	vertical-align: middle;
}

.cta:hover:before {
	width: 100%;
	background: #af1be3;
	background: -webkit-linear-gradient(to top, rgba(175, 27, 227, 1), #f81b9f);
	background: linear-gradient(to top, rgba(175, 27, 227, 1), #f81b9f);
}

.cta:hover svg {
	transform: translateX(0);
}

.cta:active {
	transform: scale(0.96);
}

.main__block {
	display: none;
}



.main__section2,
.main__section3,
.main__section4 {
	display: flex;
}

.section2__box1,
.section3__box1,
.section4__box1,
.section5__box1 {
	max-width: 33%;
	border-top: 2px solid #0cf2ff;
	overflow: hidden;
}

.section2__box1 .box1,
.section3__box1 .box1,
.section4__box1 .box1,
.section5__box1 .box1 {
	display: flex;
	justify-content: space-between;
}

.section2__box2,
.section3__box2,
.section4__box2 {
	height: 80vh;
	overflow: hidden;
	overflow-y: scroll;
	z-index: 1;
	cursor: move;
	margin: 0 20px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.section2__box2 img,
.section3__box2 img,
.section4__box2 img {
	width: 100%;

}

.box1__img {
	margin-top: -15px;
	width: 6em;
}


.box1 h2 {
	font-size: 2em;
	margin: 10px 0px 20px 0px;
}

.box1 p {
	font-size: 1em;
	font-weight: normal;
	line-height: 1.2;
	transition: 0.5s;
}

.price {
	display: block;
	margin-top: 2em;
}


.main__aside {
	width: 80%;
	height: 70vh;
	position: sticky;
	top: 150px;
	text-align: center;
}

.main__aside::after {
	content: '';
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #af1be3;
	background: -webkit-linear-gradient(to right, rgba(175, 27, 227, 1), #f81b9f);
	background: linear-gradient(to right, rgba(175, 27, 227, 1), #f81b9f);
}


.main__aside img {
	width: 50%;
}

.main__aside h3 {
	font-size: 1.2em;
	margin-bottom: 1em;
	padding-bottom: 0.3em;
}

.aside__link {
	display: block;
	margin-bottom: 1.5em;
	text-decoration: underline;
}

.buttons {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-bottom: 20px;
}

.buttons .btn {
	padding: 0 10px;
	display: inline-flex;
	color: #fff;
	margin-left: 10px;
	cursor: pointer;
}

.buttons .btn.active {
	background: #444 !important;
	color: #fff !important;
}

.buttons .btn:nth-child(2) {
	font-size: 1.4em;
}

.buttons .btn:nth-child(3) {
	font-size: 1.8em;
}

.h1-content {
	cursor: pointer;
}

@media screen and (max-width: 1200px) {

	.section2__box1 h2,
	.section3__box1 h2,
	.section4__box1 h2,
	.section5__box1 h2 {
		font-size: 1.5em;
	}

	.box1__img {
		width: 5em;
	}

	.main__title h1 {
		font-size: 1.8em;
	}
}

@media screen and (max-width: 1080px) {


	.main__aside {
		width: 100%;
	}
}

@media screen and (max-width: 991px) {

	.line-box .line-span {
		padding: 18px 10px 18px 21px;
	}
}

@media screen and (max-width: 896px) {
	.arrow-down-box {
		left: 3em;
	}

	.arrow-down-box h2 {
		font-size: 1.5em;
	}

	.arrow-down span {
		width: 20px;
		height: 20px;
	}

	.arrow-down {
		padding: 10px 0px 0px 0px;
	}


	.cta:before {
		width: 40px;
		height: 40px;
		top: 8px;
		left: 0px;
	}
}

@media screen and (max-width: 834px) {
	.clip-box {
		bottom: 279px;
	}

	.main__title-slider {
		min-height: 60vh;
	}

	.main__title h1 {
		font-size: 1.5em;
	}

	.main-line {
		display: none;
	}

	.arrow-down-box {
		left: 3.5em;
		bottom: 9em;
	}
}

@media screen and (max-width: 812px) {
	.main__block {
		flex-direction: column;
	}

	.main__title-slider {
		flex-wrap: wrap;
	}

	.main__title h1 {
		font-size: 2.5em;
	}

	.clip-box {
		bottom: 94px;
		left: -600px;
	}

	.main__title {
		margin-bottom: 6em;
	}

	.aside-box {
		display: flex;
	}

	.main__aside h3 {
		padding-bottom: 1.3em;
	}

	.main__aside h3 {
		font-size: 2.5em;
	}

	.main__aside::after {
		top: 3.5em;
	}

	.arrow-down-box {
		display: none;
	}


}

@media screen and (max-width: 808px) {
	.clip-box {
		bottom: 304px;
		left: -650px;
	}

	.arrow-down-box.active {
		display: none;
	}

	.main__title-slider {
		margin-bottom: 4em;
	}
}

@media screen and (max-width: 768px) {
	.box1__img {
		width: 4em;
	}

	.main__aside {
		height: auto;
	}

	.main__aside h3 {
		font-size: 1.8em;
	}

	.footer__contact p,
	.footer__contact p a {
		font-size: 1.1em;
	}
}

@media screen and (max-width: 720px) {
	.section4__box1 h2 {
		font-size: 1.4em;
	}
}

@media screen and (max-width: 600px) {
	.clip-box {
		bottom: 344px;
		left: -530px;
	}
}

@media screen and (max-width: 575px) {
	.main {
		padding-top: 8rem;
	}

	.main__title-slider {
		flex-wrap: wrap;

	}

	.main__title {
		min-width: 100%;
		padding: 0px;
		margin-bottom: 7em;
	}

	.main__title h1 {
		font-size: 2em;
	}

	.clip-box {
		bottom: 470px;
		left: -570px;
	}

	.section4__box1 h2 {
		font-size: 1.2em;
	}

	.box1__img {
		width: 3em;
	}

	.main__aside {
		height: auto;
	}
}

@media screen and (max-width: 540px) {
	.main__aside h3 {
		padding-bottom: 2em;
		font-size: 2em;
	}

	.carousel .control-dots {
		margin: 28px 0px;
	}

	.carousel.carousel-slider {
		margin-bottom: 3em;
	}

	.section4__box1 h2 {
		font-size: 1.3em;
	}

	.section5__box1 .box1 {
		flex-direction: column;
	}

	.aside-box {
		display: flex;
		margin-top: 4em;
		margin-bottom: 3em;
	}
}

@media screen and (max-width: 496px) {
	.clip-box {
		bottom: 470px;
		left: -360px;
	}
}

@media screen and (max-width: 428px) {
	.main__title h1 {
		font-size: 1.6em;
	}

	.box-428 {
		flex-direction: column;
	}

	.main__block {
		padding-top: 2em;
	}

	.flex-item {
		max-width: 100%;
		margin-bottom: 1.5em;
	}

	.section5__box1 .box1 {
		flex-direction: row;
	}

	.main__title-slider {
		margin-bottom: 5em;
	}

	.main section:not(.main__title-slider) {
		margin-bottom: 2em;
	}

	.clip-box {
		bottom: 371px;
		left: -334px;
	}

	.section2__box2,
	.section3__box2,
	.section4__box2 {
		height: 60vh;
	}
}

@media screen and (max-width: 390px) {
	.main__title h1 {
		font-size: 1.3em;
	}

	.clip-box {
		bottom: 322px;
		left: -284px;
	}
}

@media screen and (max-width: 375px) {

	.logo__img {
		width: 4.2em;
	}

	.header__phone-icon .fa.fa-phone {
		font-size: 1.8em;
	}

	.header__theme {
		width: 2.2em;
	}

	.main section:not(.main__title-slider) {
		margin-bottom: 0em;
	}

	.header__btn {
		margin-bottom: 0.7em;
	}
}

@media screen and (max-width: 320px) {
	.header__btn {
		margin-right: 4em;
	}
}