.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 1em;
	padding-bottom: 1em;
	z-index: 101;
	overflow: hidden;
}

.container__header {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.logo__img {
	width: 2.2em;
	display: none;
}


.logo {
	font-size: 3em;
	font-family: 'Orbitron', sans-serif;

	display: flex;
	flex-direction: column;
}

.logo span:nth-child(1) {
	font-weight: 400;
	color: #0cf2ff;
}

.logo span:nth-child(2) {
	font-size: 0.31em;
	text-align: end;
	color: #fff;
}

.nav ul {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Jura', sans-serif;
	font-style: 2em;
	margin-bottom: 0px !important;
}

.nav ul li {
	list-style: none;
}

.nav ul li a {
	position: relative;
	font-size: 1.5em;
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	font-weight: 300;
	background: rgba(255, 255, 255, 0.05);
	/* box-shadow: 0 15px 35px rgba(0,0,0,0.2); */
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);

	backdrop-filter: blur(15px);
	z-index: 1000;
	overflow: hidden;
}

.nav .nav ul li a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background: rgba(255, 255, 255, 0.1);
}

.nav ul li:first-child a {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.nav ul li:nth-last-child(2) a {
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

.nav #marker {
	position: absolute;
	top: 0;
	left: 40px;
	width: 41px;
	height: 41px;
	transition: 0.5s;
	z-index: 1;
}

.nav #marker:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transition: 0.5s;
	background: #4bd4e8;
	box-shadow: 0 0 15px #4bd4e8,
		0 0 30px #4bd4e8,
		0 0 45px #4bd4e8,
		0 0 60px #4bd4e8;
}

.nav ul li:hover~#marker:before {
	background: #3fabe2;
	box-shadow: 0 0 15px #3fabe2,
		0 0 30px #3fabe2,
		0 0 45px #3fabe2,
		0 0 60px #3fabe2;
}

.header__phone {
	font-family: 'Jura', sans-serif;
	font-size: 1.5em;
	/* font-weight: 700; */
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to top, #0cf2ff, #0cf2ff);
	/* background-image: linear-gradient(to top, #577de6, #0cf2ff); */
	/* -webkit-text-stroke: 1px rgba(0,0,0,0.5);
  -webkit-text-fill-color: rgba(0,0,0,0.1); */
}

.header__phone:hover {
	color: #366dff;
}

.header__phone-icon .fa.fa-phone {
	color: rgb(237, 241, 237);
	font-size: 2em;
}

.header__phone-icon {
	margin-left: 4em;
}

.header__btn {
	background: transparent;
}

.header__theme {
	width: 3.5em;
}

.header__phone-icon {
	display: none;
}

@media screen and (max-width: 1200px) {
	.logo {
		font-size: 2.5em;
	}
}

@media screen and (max-width: 1080px) {
	.nav {
		display: none;
	}

	.header__theme {
		width: 2.5em;
	}


}

@media screen and (max-width: 991px) {
	.logo {
		font-size: 2em;
	}
}

@media screen and (max-width: 834px) {
	.logo {
		font-size: 1.8em;
	}
}

@media screen and (max-width: 600px) {
	.header__btn {
		margin-right: 4em;
	}
}

@media screen and (max-width: 575px) {
	.header__phone {
		font-size: 1.3em;
	}
}

@media screen and (max-width: 540px) {
	.header__btn {
		margin-bottom: 0.8em;
	}
	.header__phone-icon {
		margin-left: 8em;
		display: block;
	}

	.header__phone {
		display: none;
	}
	.carousel .control-dots {
		margin-bottom: 4em;
	}
}

@media screen and (max-width: 428px) {
	.header__phone-icon {
		margin-left: 0em;
	}
}
@media screen and (max-width: 320px) {
	.header__theme {
		width: 2em;
	}
	.header__btn {
		margin-right: 3em;
		margin-bottom: 0.5em;
	}
	.logo {
		font-size: 1.5em;
	}
}