.service2{
	padding-top: 10rem;
	padding-bottom: 3em;
	/* font-size: 2em; */
	font-family: 'Montserrat', sans-serif;
}
.service2 h2{
	text-align: center;
	margin-bottom: 3em;
	font-weight: 600;
	font-size: 2em;
}
.block-service{
	display: flex;
	align-items:baseline;
	flex-direction: column;
	cursor: pointer;
}
.block-service:hover .block-service-icon{
	margin-left: 0.5em;
}
.block-service:hover span:nth-child(2){
	color: #3592ad;
}
.block-service-icon span{
	margin-bottom: 1em;
	}
.block-service-icon span:nth-child(2){
margin-left: 2em;
}

.box-content{
	margin-left: 4em;
	margin-bottom: 2em;
	text-align: start;
	display: none;
	line-height: 1.5;
}
.box-content.active{
	display: block;
}

.block-btn
{
	width: 100%;
	display: flex;
	align-items: flex-end;
	margin-bottom: 3em;
}
.block-btn .btn-box
{
	padding: 6px 10px;
	display: inline-flex;
	color: #fff;
	margin-left: 10px;
	cursor: pointer;
}
.block-btn .btn-box.active
{
	background: #444 !important;
	color: #fff !important;
}
.block-btn .btn-box:nth-child(2)
{
	font-size: 1.8em;
}
