.footer{
	height: 50vh;
	padding: 20px 20px 20px 20px;
}

.container{
	width: 90%;
	margin: 0 auto;
}
.footer__block{
	display: flex;
}
.left__box, .right__box2{
	width: 50%;
}
.left__box{
	margin-right: 3em;
}
.left__box h3, .right__box2 h3{
	font-size: 2em;
}
.footer__contact{
	position: relative;
}
.footer__sendmail{
	position: relative;
}
.footer__contact::before, .footer__sendmail::before{
	position: absolute;
	content: '';
	top: 15px;
	height: 2px;
	width: 100%;
	background: #1a1a1a;
}
.footer__contact::after, .footer__sendmail::after{
	position: absolute;
	content: '';
	height: 2px;
	width: 15%;
	background: #0f0;
	top: 15px;
}

