.contact {
	padding-top: 10rem;
	min-height: 100vh;
	font-family: 'Jura', sans-serif;
}

.contact-container {
	margin: 0 auto;
	width: 90%;
}

.contact-fon {
	background: url('./image/contact-image.jpeg') no-repeat center;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position-y: 100px 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.contact-fon.active::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.7;
	z-index: 1;
}

.contact .contact-active {
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	backdrop-filter: blur(15px);
	z-index: 1000;
	padding-top: 1em;
}

.contact section {
	margin-bottom: 5em;
}




.open-map {
	cursor: pointer;
	font-size: 2em;
	width: 100%;
	text-align: center;
	font-weight: 600;
}

.open-map .fa-map {
	margin-right: 1em;
}

.map-block {
	position: relative;
	width: 100%;
	height: 400px;
	margin-top: 5em;
	margin-bottom: 3em;
}

.map-block.active {
	display: none;
}


.open {
	position: relative;
	display: inline-block;
	width: 277px;
	height: 50px;
	font-size: 1em;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
	text-transform: uppercase;
	background-color: transparent;
	cursor: pointer;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 17px;
	letter-spacing: 0.045em;
}

.open svg {
	position: absolute;
	top: 0;
	left: 0;
}

.open svg rect {
	/* //stroke: #EC0033; */
	stroke-width: 4;
	stroke-dasharray: 353, 0;
	stroke-dashoffset: 0;
	-webkit-transition: all 600ms ease;
	transition: all 600ms ease;
}

.open span {
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right,#af1be3, #f81b9f);
}

.open:hover svg rect {
	stroke-width: 4;
	stroke-dasharray: 196, 543;
	stroke-dashoffset: 437;
}

.contact section h2 {
	margin-left: 2em;
	font-size: 5em;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to top, rgba(12, 242, 255, 1), rgba(12, 242, 255, 1));
	margin-bottom: 1em;
}

.contact-block {
	display: flex;
}

.contact-block .contact-box-1 {
	width: 50%;
}

.contact-img {
	width: 30em;
	margin-left: 6em;
}

.contact-block .contact-box {
	width: 50%;
	text-align: left;
}

.contact-box p {
	margin-bottom: 1.7em;
	font-size: 2em;
}

.contact-box .adress address {
	font-style: normal;
}

.contact-box .adress .fa.fa-map-marker {
	font-size: 1.2em;
	margin-right: 1em;
}

/* .fa.fa-map-marker {
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to top,#af1be3, #f81b9f);
} */
.adress:hover {
	color: #0cf2ff !important;
}

.contact-phone .fa.fa-mobile {
	font-size: 2em;
	margin-right: 1em;
	vertical-align: middle;
}

.contact-phone:hover {
	color: #0cf2ff !important;
}

.contact-mail {
	color: rgba(12, 242, 255, 1);
	font-weight: 600;
}

.contact-mail .fa.fa-envelope-o {
	margin-right: 1em;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
	-webkit-text-fill-color: rgba(0, 0, 0, 0.1);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(rgba(12, 242, 255, 1), rgba(12, 242, 255, 1));
}

.contact-mail:hover {
	color: #fff !important;
}

.action {
	position: absolute;
	bottom: 110px;
	right: 30px;
	width: 50px;
	height: 50px;
	background: #af1be3;
	background: -webkit-linear-gradient(to top, rgba(175, 27, 227, 1), #f81b9f);
	background: linear-gradient(to top, rgba(175, 27, 227, 1), #f81b9f);
	border-radius: 50%;
	cursor: pointer;
	user-select: none;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
	z-index: 200;
}

.action .contact-span {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	padding-bottom: 5px;
	font-size: 4em;
	transition: 0.3s ease-in-out;
}

.action.active .contact-span {
	transform: rotate(135deg);
}

.contact-ul {
	position: absolute;
	bottom: 40px;
	right: 40px;
	background: #af1be3;
	background: -webkit-linear-gradient(to top, rgba(175, 27, 227, 1), #f81b9f);
	background: linear-gradient(to top, rgba(175, 27, 227, 1), #f81b9f);
	border-radius: 20px;
	min-width: 250px;
	padding: 20px;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
	z-index: 100;
}

.action.active .contact-ul {
	bottom: 45px;
	visibility: visible;
	opacity: 1;
}

.contact-ul li {
	list-style: none;
	padding: 10px 10px;
	display: flex;
	font-size: 1.2em;
	justify-content: flex-start;
	align-items: center;
	transition: 0.3s;
}

.contact-ul li:hover {
	transform: translateX(10px)
}

.contact-ul li i {
	margin-right: 1.1em;
	opacity: 0.2;
	font-size: 1.5em;
	transform: scale(0.8);
	transition: 0.3s;
}

.contact-ul li:hover i {
	opacity: 1;
}

.contact-ul li:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}


@media screen and (max-width: 991px) {
	.contact-img {
		width: 25em;
		margin-left: 6em;
	}
}

@media screen and (max-width: 896px) {
	.contact section h2 {
		font-size: 3em;
	}

	.contact-img {
		width: 22em;
		margin-left: 5em;
	}

	.contact-box p {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 768px) {
	.contact-img {
		margin-left: 3em;
		width: 20em;
	}

	.contact-box p {
		font-size: 1.3em;
	}
}

@media screen and (max-width: 575px) {
	.contact section h2 {
		font-size: 2.5em;
	}

	.contact-box p {
		font-size: 1em;
	}

	.contact-img {
		margin-left: 4em;
		width: 14em;
	}

}

@media screen and (max-width: 540px) {
	.contact section h2 {
		font-size: 2em;
		margin-left: 1em;
	}

	.contact-block .contact-box {
		width: 70%;
	}

	.contact-img {
		margin-left: 1em;
	}
}

@media screen and (max-width: 428px) {
	.contact-block {
		flex-direction: column;
	}

	.contact-block .contact-box {
		width: 100%;
		margin-left: 2em;
		margin-top: 1em;
		font-size: 1.2em;
	}

	.contact-block .contact-box-1 {
		display: none;
	}

}

@media screen and (max-width: 414px) {
	.contact section h2 {
		margin-left: 0.5em;
	}

	.contact-img {
		margin-left: 1em;
		width: 11em;
	}

	.contact-box p {
		font-size: 0.9em;
	}

	.contact-block .contact-box {
		width: 80%;
	}
}

@media screen and (max-width: 375px) {
	.contact-img {
		margin-left: 0em;
		width: 9em;
	}



	.contact-img {
		margin-left: 1em;
		width: 11em;
	}
}

@media screen and (max-width: 320px) {
	.contact-block .contact-box {
		margin-left: 1.5em;
	}

	.contact-box p {
		font-size: 0.8em;
	}
}